html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-light: hsl(200, 20%, 95%);
  --primary-darkblue: hsl(200, 100%, 10%);
  --secondary-mediumblue: hsl(200, 100%, 25%);
  --secondary-lightblue: hsl(200, 100%, 35%);
  --secondary-babyblue: hsl(200, 100%, 50%);
  --success: hsl(100, 60%, 50%);
  --error: hsl(0, 60%, 50%);
}

body {
  /* background: var(--primary-light); */
  background: white;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

/* login and register*/

.parent {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-container {
  flex: 1;
  border: 2px dotted red;
}

.right-container {
  flex: 1;
  border: 2px dotted red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-in {
  width: 450px;
  margin: 0 auto;
  padding: 40px 30px;
  box-shadow: 0 0 15px 0 var(--secondary-mediumblue);
  border-radius: 20px;
  /* background: var(--primary-light); */
}

.login-title {
  margin: 0;
  color: var(--primary-darkblue);
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.login-form {
  display: flex;
  flex-direction: column;
  color: var(--primary-darkblue);
  gap: 20px;
  margin-top: 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.input-group label {
  font-weight: lighter;
}

.input-group input {
  font-size: 1rem;
  padding: 0.5em;
  /* border: none; */
  outline: none;
  border-radius: 0.25em;
}

.input-group.success input {
  box-shadow: 0 0 0 1px var(--success);
}

.input-group.error input {
  box-shadow: 0 0 0 1px var(--error);
}

.input-group input:focus {
  box-shadow: 0 0 0 1px var(--secondary-lightblue);
  outline: none;
}

.input-group .msg {
  display: none;
  font-size: 0.75rem;
}

.input-group.error .msg,
.input-group.success .msg {
  display: block;
}

.input-group.success .msg {
  color: var(--success);
}

.input-group.error .msg {
  color: var(--error);
}

.login-button {
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  font-weight: lighter;
  color: white;
  background-color: var(--secondary-mediumblue);
  border: var(--secondary-mediumblue);
  border-radius: 0.25em;
  outline: none;
  cursor: pointer;
}

.login-button:hover,
.login-button:focus {
  background-color: var(--secondary-lightblue);
}

.redirect {
  text-align: center;
  font-size: small;
}

/* groups */

.top-nav {
  /* color: hsl(200, 20%, 95%); */
  background: var(--primary-darkblue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  /* padding: 1rem 2rem; */
  /* margin-bottom: 1rem; */
  top: 0;
}

nav ul {
  list-style-type: none;
}

.top-nav-list {
  margin: 0;
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: stretch;
}

.left-container.home {
  flex: 1;
  border: 2px dotted red;
}

.right-container.home {
  flex: 4;
  border: 2px dotted red;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.active-title {
  text-align: center;
  border: 2px dotted green;
}

.active-container {
  /* flex-grow: 1; */
}

.card {
  background: white;
  padding: 1rem;
  border: 1px solid #777;
  border-radius: 0.25rem;
}
